@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Josefin+Sans');
:root {
  font-size: 10px;
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 8px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #F4FF81;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#board-container {
  margin: 15% auto 0 auto;
  width: 42rem;
  height: 46rem;
  background: #00897B;
  border-radius: 1.6rem;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0px 15px 50px 2px rgba(0, 0, 0, 0.75), inset 0px -4px 20px 1px rgba(0, 0, 0, 0.75);
}

#board-container .turn-indicator {
  max-width: 15rem;
  min-width: 12rem;
  position: absolute;
  padding: 1.5rem 1rem;
  text-align: center;
  z-index: -2;
  overflow: hidden;
  font-size: 2.2rem;
  color: white;
  font-weight: 900;
  border-radius: 0.5rem 0.5rem 0 0;
  /*top: -5rem;*/
}

#board-container #player1-turn {
  background: #EF5350;
  left: 2.5rem;
}

#board-container #player2-turn {
  background: #00BCD4;
  right: 2.5rem;
}

#board-container .board-display {
  position: absolute;
  font-size: 2rem;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  color: #B2DFDB;
  border: 0.1rem dashed #00897B;
  border-radius: 1rem;
}

#board-container #level {
  top: 0.5rem;
  left: 2.5rem;
  display: none;
}

#board-container #reset {
  top: 0.5rem;
  right: 2.5rem;
  display: none;
}

#board-container #reset:hover {
  border: 0.1rem dashed #B2DFDB;
  border-radius: 1rem;
  cursor: pointer;
}

#board-screen {
  width: 37rem;
  height: 37rem;
  background: #AD1457;
  background-image: radial-gradient(
    #F76596, #A11351
  );
  top: 4.5rem;
  left: 2.5rem;
  position: absolute;
  text-align: center;
}

.screen-container {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.screen-heading {
  font-size: 3.4rem;
  margin: 10rem 1rem 5rem 1rem;
  display: inline-block;
  font-family: 'Architects Daughter', cursive;
}

#title-screen .screen-heading {
  margin-top: 45%;
  font-size: 0;
}

.pop-up-anim {
  animation: pop-up 300ms ease-in-out;
}

@keyframes pop-up {
  0% {
    font-size: 0;
  }
  90% {
    font-size: 4rem;
  }
  100% {
    font-size: 3.4rem;
  }
}

#name-screen input {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #FFF59D;
  color: #FFF59D;
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.5rem;
  outline: none;
}

#name-screen input::-webkit-input-placeholder {
  color: #F48FB1 !important;
}

#name-screen input:-moz-placeholder {
  /* Firefox 18- */
  color: #F48FB1 !important;
}

#name-screen input::-moz-placeholder {
  /* Firefox 19+ */
  color: #F48FB1 !important;
}

#name-screen input:-ms-input-placeholder {
  color: #F48FB1 !important;
}

#level-screen .chosen-level {
  display: inline-block;
  color: #FFF59D;
  max-width: 10rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin-left: 0 auto;
  border-radius: 1rem;
  border: 0.2rem dashed transparent;
}

#level-screen .chosen-level:hover {
  cursor: pointer;
  border-radius: 1rem;
  border: 0.2rem dashed white;
  color: white;
}

#symbol-screen p {
  width: 80%;
}

#symbol-screen .chosen-symbol {
  display: inline-block;
  color: #FFF59D;
  font-size: 3.4rem;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin: 0 1.5rem;
  border-radius: 1rem;
  border: 0.2rem dashed transparent;
}

#symbol-screen .chosen-symbol:hover {
  cursor: pointer;
  border-radius: 1rem;
  border: 0.2rem dashed white;
  color: white;
}

#game-screen {
  width: 34rem;
  height: 34rem;
  margin: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

#game-screen .cell {
  width: 11rem;
  height: 11rem;
  display: inline-block;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 0;
  font-family: 'Architects Daughter', cursive;
  line-height: 9rem;
}

#game-screen .cell:hover {
  cursor: pointer;
}

#game-screen .vertical-divider {
  position: absolute;
  width: 0.5rem;
  height: 34rem;
  background: #FFF59D;
  left: 11rem;
  border-radius: 0.2rem;
}

#game-screen .vertical-divider:nth-of-type(2) {
  left: 22.5rem;
}

#game-screen .horizontal-divider {
  position: absolute;
  width: 34rem;
  height: 0.5rem;
  background: #FFF59D;
  top: 11rem;
  border-radius: 0.2rem;
}

/*TODO some error here in the divider*/

#game-screen .horizontal-divider2 {
  top: 22.5rem;
}

#result-screen {
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

#result-screen .screen-heading {
  margin-top: 45%;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 5rem;
  text-align: center;
  font-size: 1.6rem;
  color: #1A237E;
}

a {
  color: #AD1457;
  font-weight: bold;
}
