@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');
:root {
  font-size: 10px;
}

@media screen and (max-width: 640px) {
   :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 440px) {
   :root {
    font-size: 7px;
  }
}

body {
  background-color: yellow;
}

div.container {
  width: 80%;
  margin: 5% auto;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5.6rem;
  margin-bottom: 2.5rem;
  color: #FFEBEE;
  font-weight: 100;
}

div.break-setter {
  color: #FFEBEE;
  display: inline-block;
  margin-right: 5rem;
  text-transform: uppercase;
}

div.session-setter {
  color: #FFEBEE;
  display: inline-block;
  text-transform: uppercase;
}

.button {
  font-weight: 900;
  font-size: 3.2rem;
  width: 3rem;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  display: inline-block;
}

.button:active {
  color: white;
  transform: scale(1.3, 1.3);
}

.setter {
  font-size: 2.8rem;
  margin: 0 1rem;
}

i#reset {
  cursor: pointer;
  font-size: 3.2rem;
  color: #FFEBEE;
}

i#reset:active {
  color: white;
  transform: scale(1.1, 1.1);
}

div#clock {
  margin: 5rem auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 30rem;
  color: #E3F2FD;
  background-color: #0F1524;
  height: 30rem;
  cursor: pointer;
  box-shadow: 0px 0.5rem 5rem 0.8rem rgba(0, 0, 0, 0.75), inset 0px -0.2rem 3rem 0.1rem rgba(0, 0, 0, 0.75);
  border-radius: 50%;
}

div#clock:active {
  box-shadow: inset 0px 0px 0px 0.2rem rgba(55, 23, 23, 1), inset 0px 0px 3rem 0.1rem rgba(0, 0, 0, 0.75);
}

p#clock-heading {
  margin-top: 6rem;
  text-transform: uppercase;
  font-size: 3.2rem;
}

p#clock-time {
  margin-top: 8rem;
  font-size: 4.8rem;
}

.hide {
  display: none;
}
